@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Darker+Grotesque:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* remove unused font sizes */



p, h1 {
  margin: 0;
}

html, body {
  margin: 0;
}

#root {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background: #f6f9fc;
  font-family: "Chakra Petch", serif;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 17.5% 0 17.5%;
}

  #heroDiv {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
  }
    
    #nameHeadingDiv {
      display: flex;
      flex-direction: row;
      height: 100%;
      position: relative;
      width: max-content
    }

      #nameHeading {
        color: #747fe0;
        font-size: 5rem;
        align-self: start;
        font-weight: 100;
        line-height: 1;
      }

      #nameHeadingTypeWriterBar {
        width: 1rem;
        height: 100%;
        position: absolute;
        right: -1.5rem;
        background: #747fe0;
        margin-left: 0.5rem;
      }

    #heroDivText {
      color: #525f7f;
      text-align: start;
      margin: 3rem 0 1rem 0;
      font-size: 1.75rem;
    }

    #terminalDiv {
      width: 100%;
      height: auto;
      background: #5a5d7a;
      border-radius: 6px;
      margin-top: 2rem;
      font-size: 1rem;

      display: flex;
      flex-direction: column;
      align-items: start;

      box-shadow: 0px 10px 20px grey;
    }

    
      #terminalHeader {
        background: #e4e3e5;
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        border-radius: 5px 5px 0 0;
        padding: 0.5rem 0;
      }
      
      .terminalHeaderFakeButton {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        margin: 0 0 0 0.5rem;
      }

      .terminalTextDiv {
        display: flex;
        flex-direction: column;
        padding: 1.5% 5%;
        align-items: start;
        text-align: start;
      }

        /* .terminalWhiteText, .terminalYellowText {} */
        
        /* .terminalWhiteText {} */

        .terminalYellowText {
          color: #e7d184;
        } 

          .blueTerminalText {
            color: #35feff;
            text-decoration: none;
          }
        
        #terminalTypeWriterBarDiv {
          display: flex;
          flex-direction: row;
        }

          #terminalTypeWriterBar {
            width: 0.6rem;
            height: 1.2rem;
            background: rgba(255, 255, 255, 0.87);
            margin-left: 0.5rem;
          }
    

  #projectsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4rem 0 2rem 0;
  }

    #projectsHeadingDiv {
      color: #525f7f;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      #projectsHeadingDivUnderline {
        width: 7.5%;
        height: 0.5rem;
        background: #747fe0;
      }

    .projectDiv {
      width: 100%;
      height: 30rem;
      position: relative;
      margin-top: 4rem;
      border-radius: 15px;
      box-shadow: 0px 10px 20px grey;
      padding: 1rem;
      box-sizing: border-box;
      font-size: clamp(17px, 2vw, 24px);
      position: relative;
    }

      .projectImage {
        width: auto;
        height: 100%;
        border-radius: 5px;
        position: relative;
        margin-right: 100%
      }

      .projectImageOverlay {
        background: url('/projectOverlay.svg');
        background-size: cover;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        position: absolute;
        border-radius: 0 10px 10px 0;
      }

      .projectDescriptionDiv {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 0;
        right: 0;
        text-align: start;
        padding: 1rem;
        box-sizing: border-box;
      }
        
        .projectDescriptionDiv > h1 {
          margin-bottom: 1rem;
        }

        /* .projectDivText {
        } */

        .projectDivButtonsDiv {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: end;
          position: absolute;
          bottom: 1em;
        }
        
        .projectLiveDemoButton, .projectSourceCodeButton {
          border: 0;
          border-radius: 5px;
          min-width: max-content;
          padding: 0.5rem 0.75rem;
          height: 2rem;
          font-family: inherit;
          margin-top: 1rem;
          margin-right: 10%;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
        }
        
        .projectLiveDemoButton:visited {
          color: #ffffff;
        }

          .projectLiveDemoButton {
            background: #7795f8;
            border: 1px solid #ffffff;
          }

          .projectSourceCodeButton {
            background: #ffffff;
            color: #7795f8;
            border: 1px solid #7795f8;
          }

@media (max-width: 720px) {
    .projectDiv {
      height: 500px;
      display: flex;
      z-index: 1;
    }

      .projectImageOverlay {
        display: none;
      }

      .projectImage {
        display: none;
        /* position: absolute;
        height: 100%;
        top: 0;
        right: -20%;
        z-index: -2; */
      }

      .projectDescriptionDiv {
        position: relative;
        padding: 0.25rem;
        width: 100%;
        z-index: 1;
        background: #f6f9fc;
        justify-content: start;
      }

        .projectDivButtonsDiv {
          position: relative;
          bottom: 0;
          width: 100%;
          margin-top: auto;
        }

          .projectLiveDemoButton, .projectSourceCodeButton {
            margin: 2% 0 0 0;
          }

          .projectLiveDemoButton {
            margin-right: auto;
          }

          /* .projectSourceCodeButton {
          } */
}